@tailwind base;

/* Custom base styles start */
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(124, 58, 237, 1), rgba(0, 0, 0, 0));
    margin: 1rem;
}

.pt-16\:9 {
	padding-top: 56.25%; /* 9/16 for a 16:9 ratio iframe */
}

/* Switch to Firefox promotion */
.firefox-promotion-bg {
	background-image: url(/campaigns/firefox/bg.svg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Custom base styles must come before components and utilities to avoid specificity issues */
@tailwind components;
@tailwind utilities;
