@tailwind base;

/* Grid utilities */
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 3fr);
    grid-gap: 1fr;
}

@responsive {
    .col-start-1  { grid-column-start: 1; }
    .col-start-2  { grid-column-start: 2; }
    .col-start-3  { grid-column-start: 3; }
    .col-start-4  { grid-column-start: 4; }
    .col-start-5  { grid-column-start: 5; }
    .col-start-6  { grid-column-start: 6; }
    .col-start-7  { grid-column-start: 7; }
    .col-start-8  { grid-column-start: 8; }
    .col-start-9  { grid-column-start: 9; }
    .col-start-10 { grid-column-start: 10; }
    .col-start-11 { grid-column-start: 11; }
    .col-start-12 { grid-column-start: 12; }

    .col-end-2  { grid-column-end: 2; }
    .col-end-3  { grid-column-end: 3; }
    .col-end-4  { grid-column-end: 4; }
    .col-end-5  { grid-column-end: 5; }
    .col-end-6  { grid-column-end: 6; }
    .col-end-7  { grid-column-end: 7; }
    .col-end-8  { grid-column-end: 8; }
    .col-end-9  { grid-column-end: 9; }
    .col-end-10 { grid-column-end: 10; }
    .col-end-11 { grid-column-end: 11; }
    .col-end-12 { grid-column-end: 12; }
    .col-end-13 { grid-column-end: 13; }
}

/* Custom base styles start */
a {
    @apply text-purple-600 underline;
}

body {
    @apply p-4;
    @apply text-lg;
}

h1 {
    @apply text-5xl;
    @apply leading-tight;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    @apply mb-4;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
}

ol {
    @apply list-outside list-decimal ml-4;
}

ul {
    @apply list-outside list-disc ml-4;
}

article {
    @apply leading-relaxed;
    @apply font-serif;
}

/*
    JXL theme styles
    Remember: try to use utility classes instead of
    creating styles for screen breakpoints.
*/

/* Mobile first */

.jxl-article > * {
    grid-column: 1/13;
}

/* Small, Medium, Large breakpoints */

@screen sm {

}

@screen md {
    .jxl-article > * {
        grid-column: 3/11;
    }
}

@screen lg {
    .jxl-article > * {
        grid-column: 6/11;
    }
}

/* Custom base styles must come before components and utilities to avoid specificity issues */
@tailwind components;
@tailwind utilities;
