@tailwind base;

/* Custom base styles start */
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(124, 58, 237, 1), rgba(0, 0, 0, 0));
    margin: 1rem;
}

/* Custom base styles must come before components and utilities to avoid specificity issues */
@tailwind components;
@tailwind utilities;
