<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <meta name="description" content="{{ excerpt }}"/>
{{> partial-css }}
{{> partial-head }}
</head>
<body>
<div class="container mx-auto prose prose-violet text-lg">
    {{{ content }}}
</div>
</body>
</html>
