<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <meta http-equiv="onion-location" content="http://flajosieqaajmjtob7una5srx2xr6x7fhd6k26bkzj44f7vzalqm7fqd.onion{{ page.url }}" />
    <meta name="description" content="{{ excerpt }}"/>
{{> partial-css }}
{{> partial-head }}
</head>
<body>
<div class="container mx-auto prose-purple text-lg">
    {{{ content }}}
</div>
</body>
</html>
