body {
    background: url("./jeremiah-in-hermit-mode.jpg") center center;
	background-color: #000;
	background-size: cover;
	background-repeat: no-repeat;
}

body p, body li, body h1, body h2 {
    background-color: #fff;
    width: max-content;
    padding: .25em;
}
