@import "tailwindcss";
@config "./tailwind.config.ts";

body {
	@apply text-lg;
	@apply font-sans;
}

h1, h2, h3, p, li {
	@apply mb-4;
}

a {
	@apply underline;
}

sup a {
	@apply no-underline;
	opacity: .5;
	font-size: .8em;
}
sup a:hover {
	@apply underline;
}

.bg-violet {
	background-color: #6B33A4;
}

abbr[title] {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: rgba(0,0,0, .1);
}

/* Grid utilities */

/* Custom base styles start */
/* Small, Medium, Large breakpoints */
@media (min-width: 1024px) {
	.spread {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		box-sizing: border-box;
	}
}
