---json
{
    "permalink": "feeds/atom.xml",
    "eleventyExcludeFromCollections": true,
    "metadata": {
        "title": "JeremiahLee.com",
        "subtitle": "Thoughts from a Californian living in Stockholm, Sverige.",
        "url": "https://www.jeremiahlee.com/",
        "feedUrl": "https://www.jeremiahlee.com/feeds/atom.xml",
        "author": {
            "name": "Jeremiah Lee"
        }
    }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link rel="self" type="application/atom+xml" href="{{ metadata.feedUrl }}"/>
    <link rel="alternate" type="text/html" href="{{ metadata.url }}"/>
    <updated>{{ collections.atomFeed | rssLastUpdatedDate }}</updated>
    <id>{{ metadata.feedUrl }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
    </author>
    <icon>{{ metadata.url }}favicon-180x180.png</icon>
    <logo>{{ metadata.url }}favicon-768x384.png</logo>
    {%- for post in collections.atomFeed | reverse %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ (post.data.updated if post.data.updated else post.date) | rssDate }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">{{ post.data.excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>
